*{
  margin: 0;
}
/* App.css */
body {
  font-family: Arial, sans-serif;
}

table {
  margin: 2rem 0;

}

form {
  width: 300px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
